.content-profile{
    min-height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.tgl-agenda{
    color: #cfcfcf;
    font-weight: bold;
}
.judul-agenda{
    font-weight: bold;
    font-size: 28px;
}
.desc-agenda{
    font-size: 20px;
    line-height: 32px;
}