.content-profile{
    min-height: 300px;
}
.content-profile{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #636363;
}
.wrapper-album{
    position: relative;
}
.wrapper-album-title{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
}

.wrapper-album-item {
    padding: 0 14px;
    margin-bottom: 24px;
}
.wrapper-album-item a img {
    width: 100%;
}
.wrapper-album-item a p {
    text-align: center;
    background-color: #ffffffd3;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #272727;
    font-size: 16px;
    padding-top: 10px;
    display: block;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.wrapper-galery-item-2{
    padding: 0 14px;
    margin-bottom: 24px;
}
.wrapper-galery-item-2 a img{
    width: 100%;
}
.wrapper-galery-item-2 a p{
    display: none;
}
.wrapper-galery-item-2:hover a p{
    text-align: center;
    height: 100%;
    background-color: #ffffffa6;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    color: #272727;
    font-size: 16px;
    padding-top: 24px;
    display: block;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}
.title-galery i{
    margin-top: 10px;
    font-size: 24px;
    background-color: #ffc107;
    padding: 10px;
    border-radius: 50%;
    color: #FFFFFF;
}
.card-berita:hover{
    text-decoration: none;
    color: #252525;
}
.card-berita{
    color: #252525;
}
.berita-name{
    font-weight: bold;
}
.card-berita .card-body{
    padding: 10px 0;
}