/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-two {
        margin-top: 0;
    }
    .carausel-content {
        margin-top: 84px;
    }
    .text-float-2{
        font-size: 18px;
    }
    .berita .bx-wrapper{
        padding-left: 14px;
    }
    .card-item-disp{
        margin-bottom: 40px;
    }
    .maps h4 {
        font-size: 18px;
    }
    .profil{
        margin-top: 84px;
    }
    .title-profile{
        font-size: 20px;
        margin-bottom: 0;
    }
    .link-sub{
        font-size: 14px;
    }
    .content-profile{
        padding-top: 20px;
    }
    .title-bc{
        font-size: 20px;
        font-weight: bold;
    }
    .header-bc {
        margin-top: 85px;
    }
    .judul-agenda {
        font-size: 22px;
        line-height: 32px;
    }
    .image-bank-data{
        width: 100%;
    }
    .wrapper-user .item-1{
        width: 50%;
        margin: auto;
    }
    .wrapper-user .item-2{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}