/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-two {
        margin-top: 0;
    }
    .carausel-content {
        margin-top: 84px;
    }
    .text-float-2{
        font-size: 18px;
    }
    .berita .bx-wrapper{
        padding-left: 14px;
    }
    .card-item-disp{
        margin-bottom: 40px;
    }
    .maps h4 {
        font-size: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}